* {
    margin: 0;
    padding: 0;
    font-family: arial;
    
}

body {
    background-color: #081b29;
    color:white;
    overflow-x: hidden; /* To prevent horizontal scrolling */
}


#wrapper {
    width:70vw;
    margin: 10vh auto;

    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 3vw;
}

.inp {
    border-bottom: 2px solid #eee;
    margin-top: 0.6em;
}

.input {
    border: none;
    outline: none;
    background: none;
    width: 80%;
    
    margin-top: 2vw; 
    padding-right: 2vw; 
    font-size: 1.7vw; 
    color: #0ef;
}

.sbm {
    border: none;
    outline: none;
    width: 80%;
    max-width: 300px;
    margin-top: 2vw;
    padding: 1vw 0; 
    font-size: 2vw;
    border-radius: 4vw; 
    letter-spacing: 1px;
    cursor: pointer;
    color:#fff;
    background: linear-gradient(45deg, #0ef, #c800ff);
}

.footer {
    margin-top: 1vw; 
    letter-spacing: 0.5px;
    font-size: 1.4vw; 
}

#banner{

    background: linear-gradient(to right,#0ef, #c800ff );
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);    
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    padding-left: 2em;
}

.mobile-banner{
    display: none;
}

/* My styling */

#cards{
    padding: 2vw;
}

#card-back{
    display:none;
}

/* Loading animation */

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}
  
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Validation code */

#error-msg{
    color:red;
}

@media (min-width:860px) and (max-width:980px){
    .wel_text{
        font-size: 34px;
    }

}
@media (min-width:760px) and (max-width:860px){
    .wel_text{
        font-size: 30px;
    }

}

@media only screen and (max-width: 768px) {
        #wrapper{
            height: 35vh;
            width:70vw;
            margin: 15vh auto;
            
            padding: 0px;
            
            border: 3px solid #00ffff;
            box-shadow: 0 0 50px 0 #00a6bc; 
            
        }
    
        #cards{
            margin:auto 1vw;
        }
    
        #banner{
            display: none;
        }
        
        .mobile-banner{
            background: linear-gradient(to right,#0ef, #c800ff );
    
            display: flex;
            flex-direction: row;
            justify-content:center;
            align-items: center;
    
        }
        
        .wel_text{
            font-size: 4vh;
            margin:2.5vw;
        }
        
        .inp {
            display: flex;
            flex-direction: row;
            
            margin-bottom: 2vw;
            
            border-bottom: 2px solid #eee;
        }
        
        .input {
            border: none;
            outline: none;
            background: none;
            width: 100%;
            
            margin-bottom: 0.5vw; 
            margin-top:0vw;
            padding-right: 0vw;
            
            font-size: 1.7vw; 
            color: #0ef;
        }
        
        .input-icon{
            /* display: none; */
            font-size:60%;
            margin:auto 1px;
        }
        
        .sbm {
            border: none;
            outline: none;
            width: 30%;
            margin-top: 5vw;
            padding: 1vw; 
            font-size: 2vw;
            border-radius: 4vw; 
            letter-spacing: 1px;
            cursor: pointer;
            color:#fff;
            background: linear-gradient(45deg, #0ef, #c800ff);
        }
    
}
